.mainboard {
  display: flex;
  flex-direction: column;
  
  canvas {
    border: none;
    border-radius: none;
  }
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: #fff;
  justify-content: space-between;
  .logo {
    top: 50%;
    
    font-size: 30px;
    font-weight: bold;
    color: #000; 
    margin-right: 3%;
  }

  input {
    margin: 0 2px;
  }

  

  .inputbutton {
    background: #000; 
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    display: flex;
    align-items: center;
  }
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  

  input {
    display: none;
  }

  label{
    margin: 10px;
     cursor: pointer;
  }

  button{
    background: #000;
    width: fit-content;
    height: fit-content;
    color: #fff;
  }
}
